body{
    background-color: pink;
}
nav{
    text-transform: uppercase;
    font-family: PT Sans Narrow;
    font-weight:Bold;
}
.nav-link:hover{
    font-style: italic;
    background-color:purple;
}
/*this is about the header*/

header{
    /*height and width of the header*/
    height: 600px;
    width: 100%;
    /*This is the cover image*/
    
    background-image: url("Cover.jpg");
    background-size:cover;

    /*this is the alignment of the header*/
    text-align: center;
    color:white;
}

header p{
    font-style: italic;
}

.services {
    text-align: center;
}
.services i {
    font-size: 30px;
    padding: 25px 20px;
    
    color: #fff;
    background-color: #5bc0de;
    
    width: 80px;
    height: 80px;
    
    border-radius: 50%;
}

.services span {
    width: 200px;
    display: inline-block;
}









/*.services i {*/
/*    font-size: 30px;*/
/*    padding: 25px 20px;*/
/*    color:#fff;*/
/*    background-color:#5bc0de;*/
/*    width: 80px;*/
/*    height: 80px;*/
/*    border-radius: 50%;*/
/*}*/































/*header{*/
/*    height: 600px;*/
/*    width: 100%;*/
/*    background-image: url("cover.jpg");*/
/*    background-size:cover;*/
/*    text-align: center;*/
/*    font-family: 'Srisakdi', cursive;*/
/*}*/
/*header p{*/
/*    color:#30BFED;*/
/*    font-style:italic;*/
/*}*/
/*header h1{*/
/*    color:blue;*/
/*}*/




























/*body{*/
/*    background-color: purple;*/
    
/*}*/
/*nav{*/
/*    text-transform: uppercase;*/
/*    font-family: PT Sans Narrow;*/
/*}*/
/*.nav-link{*/
/*    font-weight: bold;*/
/*}*/
/*when you hover the tabs change to italics and background colour changes*/
/*.nav-link:hover{*/
/*    font-style: italic;*/
/*    background-color: #7fffd4 !important;*/
/*}*/
/*header{*/
/*    height: 600px;*/
    /*width: 100%;*/
/*    background-image: url("Cover.jpg");*/
/*    background-size: cover;*/
    
    /*text align*/
/*    text-align: center;*/
    
/*}*/
/*header p{*/
/*    font-style: italic;*/
/*    color:white;*/
/*}*/
/*header h1{*/
/*    color:white;*/
/*}*/